.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Anglodavek';
  font-style: normal;
  font-weight: 400;
  src: url('resources/fonts/Anglodavek-a55E.ttf');
  src: local('Anglodavek'), url('resources/fonts/Anglodavek-a55E.ttf');
}

@font-face {
  font-family: 'Reisenberg';
  font-style: normal;
  font-weight: 400;
  src: url('resources/fonts/Reisenberg20-ExP9.ttf');
  src: local('Reisenberg'), url('resources/fonts/Reisenberg20-ExP9.ttf');
}

@font-face {
  font-family: 'Dethek';
  font-style: normal;
  font-weight: 400;
  src: url('resources/fonts/Dethek-wWJz.ttf');
  src: local('Dethek'), url('resources/fonts/Dethek-wWJz.ttf');
}

@font-face {
  font-family: 'Rellanic';
  font-style: normal;
  font-weight: 400;
  src: url('resources/fonts/Rellanic.otf');
  src: local('Dethek'), url('resources/fonts/Rellanic.otf');
}
